.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    background-color: var(--color-surface-1);
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    box-sizing: border-box;
    color: var(--color-text-secondary);
}

.sidebar-header {
    height: 10px;
    font-size: 17px;
    color: var(--color-text-primary);
    padding: 0 8px 10px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header img {
    filter: var(--color-icon-filter);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon-wrapper {
    border-radius: 50%;
    cursor: pointer;
}

.home-icon-wrapper:hover {
    background-color: var(--color-surface-hover);
}

#sidebar-toggle {
    display: none;
    margin-left: auto;
}

.sidebar-toggle-btn {
    font-size: 16px;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
}

.sidebar-toggle-btn:hover {
    background-color: var(--color-surface-hover);
}

.sidebar-nav {
    flex-grow: 1;
    padding: 8px 0 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-nav-item {
    display: flex;
    align-items: center;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    margin: 3px;
    padding-left: 0px;
    font-size: 12px;
    font-weight: 300;
    color: var(--color-text-primary);
    text-decoration: none;
}

.sidebar-nav-item.active,
.sidebar-nav-item:hover {
    background-color: var(--color-surface-2);
    text-decoration: none;
    margin-left: -8px;
    padding-left: 11px;
}

.sidebar-nav-item img {
    filter: var(--color-icon-filter);
    width: 10%;
    height: 10%;
    margin-right: 7px;
}

.sidebar-nav-item-heading {
    font-size: 12px;
    color: var(--color-text-secondary);
    font-weight: 300;
    margin-top: 15px;
}

#sidebar-toggle:checked {
    left: 0;
}